.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.container > table {
    width: 30%;
    display: table;
}

.container tr {
    width: 100%;
}

.container th {
    text-align: center;
}
